// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field_with_errors input {
  border-color: #f14668;
}

body {
  min-height: 100vh;
  padding: 0;
  background-color: #eaf2f8;
}

.navbar.is-dark {
  background-color: #263238;
  color: #00CCFF;
}

.navbar-item-color {
  color: #ffffff;
}

a:hover {
  color: #3273dc;
}

.is-font {
  font-family: "PT Serif Caption";
}

.is-font-index {
  font-family: "Heiti TC";
}
